/* ==========================================================================
   ATOMIC DESIGN WITH SASS
   ========================================================================== */
/**
 * This is the control panel where all of the quarks, atoms and molecules are imported.
 */
/* SASS Libraries
========================================================================== */
/*
 * Global SASS libraries/helpers from Compass's built in mixins to aid
 * compatibility and progressive enhancement methods.
 */
/* Utilities
========================================================================== */
/*
 * Global classes, mixins and styles that can be used anywhere and at any time.
 */
/* 1200px */
/* 992px */
/* 768px */
/* 480px */
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
 * Calculate rems. $target = pixel size. $context = base pixel size
 */
/**
 * Output vendor properties
 */
/* See http://mrdanadams.com/2012/pixel-ems-css-conversion-sass-mixin/ */
/* Default font size in pixels if not overridden. */
/* Convert PX units to EMs.
Ex: margin-right: pem(16);
*/
/* Used to convert PX to EMs for multiple properties or values or both.
$base is an optional measurement that allows making measurements relative to the parent font size rather than the current. Also accepts a list of lists (instead a list of values) for properties that accept multiple lists of values. Only numbers of converted; everything else is passed through.

Examples:

@include scale(line-height, 30)
@include scale(line-height, 30, 16)
@include scale(width height, 125);
@include scale(padding, 0 25, 16);
@include scale(text-shadow, (#0d6e28 1 1) (#777 0 0 2), 16);
@include scale(box-shadow, (inset 0 0 0 1 #2a9022) (inset 0 0 3 #459966), 16);
*/
/*
  Finds the closest dimension value that is on-grid, used to keep an element
  roughly the same size if the baseline grid changes and its size is
  dependent on the grid

  @param {px} $input - pixel size we want to round to the nearest baseline grid interval
  @param {px} $line-height - base line height

  @returns {px} length
*/
/*
  Mixins for media queries at phone, tablet, desktop, and HD sizes

  Usage example:

  h1 {
    font-size: 24px;

    @include media-tablet {
      font-size: 36px;
    }

    @include media-desktop {
      font-size: 48px;
    }
  }
*/
/*
  Mixin to add a media query for retina images.
  Relies on naming convention where foo.png would have a retina image called foo_@2x.png
  Only permits PNGs

  @param {string} $file - image path
  @param {px} $height - image display height
  @param {px} $width - image display height

*/
/*------------------------------------*\
    $RESET
\*------------------------------------*/
/**
 * As per: csswizardry.com/2011/10/reset-restarted
 */
/* line 8, ../../src/styles/utilities/_reset.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

/**
 * The usual...
 */
/* line 18, ../../src/styles/utilities/_reset.scss */
blockquote,
caption,
dd,
dl,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
legend,
ol,
p,
pre,
table,
td,
th,
ul {
  margin: 0;
  padding: 0;
}

/**
 * Give a help cursor to elements that give extra info on `:hover`.
 */
/* line 45, ../../src/styles/utilities/_reset.scss */
abbr[title],
dfn[title] {
  cursor: help;
}

/* line 50, ../../src/styles/utilities/_reset.scss */
abbr[title] {
  text-decoration: none;
  border: none;
}

/**
 * Remove underlines from potentially troublesome elements.
 */
/* line 57, ../../src/styles/utilities/_reset.scss */
a,
ins,
u {
  text-decoration: none;
}

/**
 * Apply faux underline via `border-bottom`.
 */
/* line 65, ../../src/styles/utilities/_reset.scss */
ins {
  border-bottom: 1px solid;
}

/**
 * So that `alt` text is visually offset if images dont load.
 */
/* line 71, ../../src/styles/utilities/_reset.scss */
img {
  font-style: italic;
}

/**
 * Remove borders from fieldset
 */
/* line 77, ../../src/styles/utilities/_reset.scss */
fieldset {
  border: none;
}

/**
 * Give form elements some cursor interactions...
 */
/* line 83, ../../src/styles/utilities/_reset.scss */
button,
input:button,
label,
option,
select,
textarea {
  cursor: pointer;
}

/* line 92, ../../src/styles/utilities/_reset.scss */
.text-input:active,
.text-input:focus,
textarea:active,
textarea:focus {
  cursor: text;
  outline: none;
}

/* line 100, ../../src/styles/utilities/_reset.scss */
.text-muted {
  color: #2B2B2B;
}

/* line 104, ../../src/styles/utilities/_reset.scss */
input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Correct `block` display not defined in IE 8/9.
 */
/* line 11, ../../src/styles/utilities/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/*
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 30, ../../src/styles/utilities/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/*
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 41, ../../src/styles/utilities/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Address styling not present in IE 8/9.
 */
/* line 50, ../../src/styles/utilities/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 64, ../../src/styles/utilities/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Remove default margin.
 */
/* line 74, ../../src/styles/utilities/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 86, ../../src/styles/utilities/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 94, ../../src/styles/utilities/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 108, ../../src/styles/utilities/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/*
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 117, ../../src/styles/utilities/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 125, ../../src/styles/utilities/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/*
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 134, ../../src/styles/utilities/_normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Address differences between Firefox and other browsers.
 */
/* line 142, ../../src/styles/utilities/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/*
 * Address styling not present in IE 8/9.
 */
/* line 152, ../../src/styles/utilities/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 161, ../../src/styles/utilities/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/*
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 173, ../../src/styles/utilities/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/*
 * Set consistent quote types.
 */
/* line 181, ../../src/styles/utilities/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/*
 * Address inconsistent and variable font size in all browsers.
 */
/* line 189, ../../src/styles/utilities/_normalize.scss */
small {
  font-size: 80%;
}

/*
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 197, ../../src/styles/utilities/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 205, ../../src/styles/utilities/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 209, ../../src/styles/utilities/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 221, ../../src/styles/utilities/_normalize.scss */
img {
  border: 0;
}

/*
 * Correct overflow displayed oddly in IE 9.
 */
/* line 229, ../../src/styles/utilities/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 241, ../../src/styles/utilities/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
/* line 253, ../../src/styles/utilities/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 264, ../../src/styles/utilities/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 275, ../../src/styles/utilities/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/*
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 289, ../../src/styles/utilities/_normalize.scss */
button,
input {
  line-height: normal;
}

/*
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 301, ../../src/styles/utilities/_normalize.scss */
button,
select {
  text-transform: none;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 314, ../../src/styles/utilities/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements.
 */
/* line 326, ../../src/styles/utilities/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/*
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 336, ../../src/styles/utilities/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 347, ../../src/styles/utilities/_normalize.scss */
input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 1 */
  box-sizing: content-box;
}

/*
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 358, ../../src/styles/utilities/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in Firefox 4+.
 */
/* line 367, ../../src/styles/utilities/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 378, ../../src/styles/utilities/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
/* line 391, ../../src/styles/utilities/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------------------*\
    $FONT-STACK
\*------------------------------------*/
/**
 * Font weights
 */
/**
 * Default text font-family and font weights
 */
/* Set up the rhythm. */
/* line 106, ../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 41, ../../src/styles/utilities/_defaults.scss */
html {
  line-height: 96px;
}

/** Single direction margins. */
/* line 2, ../../src/styles/utilities/_base-spacing.scss */
address,
blockquote,
dl,
fieldset,
figure,
ol,
p,
pre,
table,
ul {
  margin: 0 0 24px;
}

/** No margins on headings, the line spacing of the heading is sufficient. */
/* line 15, ../../src/styles/utilities/_base-spacing.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0px;
}

/** Make hr elements fit the rhuthm. */
/* line 24, ../../src/styles/utilities/_base-spacing.scss */
hr {
  margin: 0 0 24px;
}

/** Consistent indenting for lists. */
/* line 28, ../../src/styles/utilities/_base-spacing.scss */
dd,
ol,
ul {
  margin-left: 24px;
  margin-left: 1.5em;
}

/*------------------------------------*\
    $COLORS
\*------------------------------------*/
/* Quarks
========================================================================== */
/*
 * Styles reserved for default HTML elements only. Default paragraphs, links, lists and micros. Style
 * guide stuff.
 */
/* line 1, ../../src/styles/quarks/_headings.scss */
h1,
h2,
h3,
h4,
h5 {
  font-size: 16px;
  color: #727272 !important;
}

/* line 10, ../../src/styles/quarks/_headings.scss */
h1,
h2,
h3 {
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

/* line 17, ../../src/styles/quarks/_headings.scss */
h1 {
  font-size: 33px;
  line-height: 72px;
}
@media (min-width: 840px) {
  /* line 17, ../../src/styles/quarks/_headings.scss */
  h1 {
    font-size: 39px;
    line-height: 72px;
  }
}

/* line 24, ../../src/styles/quarks/_headings.scss */
h2 {
  font-size: 28px;
  line-height: 48px;
}
@media (min-width: 840px) {
  /* line 24, ../../src/styles/quarks/_headings.scss */
  h2 {
    font-size: 33px;
    line-height: 48px;
  }
}

/* line 31, ../../src/styles/quarks/_headings.scss */
h3 {
  font-size: 23px;
  line-height: 48px;
}
@media (min-width: 840px) {
  /* line 31, ../../src/styles/quarks/_headings.scss */
  h3 {
    font-size: 27px;
    line-height: 48px;
  }
}

/* line 38, ../../src/styles/quarks/_headings.scss */
h4 {
  font-size: 19px;
  line-height: 48px;
}
@media (min-width: 840px) {
  /* line 38, ../../src/styles/quarks/_headings.scss */
  h4 {
    font-size: 23px;
    line-height: 48px;
  }
}

/* line 1, ../../src/styles/quarks/_links.scss */
.thesett-link {
  color: #8bc34a !important;
}

/* line 5, ../../src/styles/quarks/_links.scss */
.thesett-link .material-icons {
  position: relative;
  top: -1px;
  vertical-align: middle;
}

/* line 10, ../../src/styles/quarks/_links.scss */
.thesett-link-menu:hover {
  cursor: pointer;
}

/* line 13, ../../src/styles/quarks/_links.scss */
.thesett-link:hover {
  color: #7cb342 !important;
}

/* Atoms
========================================================================== */
/*
 * CSS objects that can be extended from and into other elements of the site. Think of these as
 * the default relationships that can be used again and again without bloating the codebase.
 */
/* line 1, ../../src/styles/atoms/_grid.scss */
.mdl-cell {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* line 6, ../../src/styles/atoms/_grid.scss */
.mdl-grid {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* line 1, ../../src/styles/atoms/_layout.scss */
.layout-spacer {
  height: 24px;
  min-height: 24px;
}

/* line 1, ../../src/styles/atoms/_fixed-width.scss */
.layout-fixed-width--one-card {
  padding: 0 !important;
  margin: 0 auto;
  max-width: 400px;
}

@media (min-width: 840px) {
  /* line 7, ../../src/styles/atoms/_fixed-width.scss */
  .layout-fixed-width {
    padding: 0 !important;
    margin: 0 auto;
    max-width: 714px;
  }

  /* line 13, ../../src/styles/atoms/_fixed-width.scss */
  .layout-fixed-width--one-card {
    padding: 0 !important;
    margin: 0 auto;
    max-width: 400px;
  }
}
@media (min-width: 960px) {
  /* line 20, ../../src/styles/atoms/_fixed-width.scss */
  .layout-fixed-width {
    padding: 0 !important;
    margin: 0 auto;
    max-width: 816px;
  }

  /* line 26, ../../src/styles/atoms/_fixed-width.scss */
  .layout-fixed-width--one-card {
    padding: 0 !important;
    margin: 0 auto;
    max-width: 400px;
  }
}
@media (min-width: 1280px) {
  /* line 33, ../../src/styles/atoms/_fixed-width.scss */
  .layout-fixed-width {
    padding: 0 !important;
    margin: 0 auto;
    max-width: 1088px;
  }

  /* line 39, ../../src/styles/atoms/_fixed-width.scss */
  .layout-fixed-width--one-card {
    padding: 0 !important;
    margin: 0 auto;
    max-width: 400px;
  }
}
/* line 1, ../../src/styles/atoms/_cards.scss */
.mdl-card__actions {
  margin: 0;
  height: 48px;
  bottom: 0;
  position: absolute;
  padding-top: 0px;
}

/* line 11, ../../src/styles/atoms/_cards.scss */
.mdl-card__media {
  background: transparent;
  overflow: hidden;
}

/* line 16, ../../src/styles/atoms/_cards.scss */
.mdl-card__media img {
  width: 100%;
  height: 168px;
}

/* line 21, ../../src/styles/atoms/_cards.scss */
.mdl-card__supporting-text {
  color: black;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
  padding-bottom: 48px;
}

/* line 30, ../../src/styles/atoms/_cards.scss */
.mdl-card__title {
  background: transparent;
  margin: 0;
  padding: 0;
  margin-left: 12px;
}

/* line 37, ../../src/styles/atoms/_cards.scss */
.mdl-card__title-text {
  font-weight: normal;
  font-size: 19px;
  line-height: 48px;
}

/* line 42, ../../src/styles/atoms/_cards.scss */
.mdl-card {
  border-radius: 2px;
}

/* line 1, ../../src/styles/atoms/_dialogs.scss */
.mdl-dialog {
  border-radius: 2px;
  padding: 0;
  background-clip: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  min-width: 340px;
}

/* line 10, ../../src/styles/atoms/_dialogs.scss */
.mdl-dialog__actions {
  margin: 0;
  height: 48px;
  bottom: 0;
  position: absolute;
  padding-top: 0;
  width: 100%;
  padding: 0;
}

/* line 22, ../../src/styles/atoms/_dialogs.scss */
.mdl-dialog__actions .control-bar {
  background: transparent;
}

/* line 26, ../../src/styles/atoms/_dialogs.scss */
.mdl-dialog__content {
  color: black;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
  padding-bottom: 48px;
}

/* line 35, ../../src/styles/atoms/_dialogs.scss */
.mdl-dialog__title {
  background: transparent;
  margin: 0;
  padding: 0;
  margin-left: 12px;
}

/* line 42, ../../src/styles/atoms/_dialogs.scss */
.mdl-dialog__title-text {
  font-weight: normal;
  font-size: 19px;
  line-height: 48px;
}

/* line 1, ../../src/styles/atoms/_forms.scss */
.mdl-textfield {
  line-height: 24px;
  padding-top: 19px;
}

/* line 8, ../../src/styles/atoms/_forms.scss */
.mdl-textfield__input {
  font-size: 16px;
  line-height: 24px;
}

/* line 12, ../../src/styles/atoms/_forms.scss */
.mdl-textfield__label {
  font-size: 16px;
  line-height: 24px;
}

/* line 1, ../../src/styles/atoms/_tables.scss */
.mdl-data-table {
  width: 100%;
  font-size: 13px;
  line-height: 24px;
}

/* line 6, ../../src/styles/atoms/_tables.scss */
th {
  font-size: 13px;
  line-height: 24px;
  padding-top: 0 !important;
  padding-bottom: 12px !important;
  height: 48px !important;
}

/* line 13, ../../src/styles/atoms/_tables.scss */
td,
tr {
  font-size: 13px;
  line-height: 24px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 48px !important;
}

/* line 21, ../../src/styles/atoms/_tables.scss */
td .mdl-button {
  margin-top: 5px;
  margin-bottom: 6px;
}

/* line 26, ../../src/styles/atoms/_tables.scss */
.data-table__apron {
  background-color: #ebebeb;
  padding-bottom: 12px;
  margin-bottom: 24px;
  position: relative;
}

/* line 33, ../../src/styles/atoms/_tables.scss */
.data-table__apron .control-bar {
  margin-top: 12px;
}

/* line 37, ../../src/styles/atoms/_tables.scss */
.data-table__apron table {
  margin-bottom: 0;
}

/* line 41, ../../src/styles/atoms/_tables.scss */
.data-table__fab-button {
  position: absolute;
  right: 20px;
  bottom: 12px;
}

/* line 47, ../../src/styles/atoms/_tables.scss */
.data-table__active-row {
  background-color: #ffffff;
}

/* line 51, ../../src/styles/atoms/_tables.scss */
.data-table__inactive-row {
  background-color: #ebebeb;
}

/* line 1, ../../src/styles/atoms/_buttons.scss */
.mdl-button {
  line-height: 24px;
  height: 36px;
  margin-bottom: 6px;
  margin-top: 6px;
}

/* line 8, ../../src/styles/atoms/_buttons.scss */
.mdl-button--fab {
  width: 48px !important;
  min-width: 48px;
  height: 48px !important;
  margin-top: 0;
  margin-bottom: 0;
}

/* line 16, ../../src/styles/atoms/_buttons.scss */
.mdl-button--warn {
  color: #d32205;
}

/* line 1, ../../src/styles/atoms/_chips.scss */
.mdl-chip {
  line-height: 24px;
  height: 24px;
  margin-bottom: 0;
  margin-top: 0;
}

/* line 1, ../../src/styles/atoms/_tabs.scss */
.mdl-layout__tab {
  color: #000000;
}

/* line 1, ../../src/styles/atoms/_paper-listbox.scss */
paper-listbox {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 24px;
  border-top-width: 2px;
  border-top-color: #727272;
  border-top-style: solid;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #727272;
  width: 300px;
}

/* Molecules
========================================================================== */
/*
 * Sometimes we need one-off structures, such as a banner or navigation element or footer, that we
 * dont intend to replicate. This is where we can combine multiple quarks and atoms, without
 * interfering with any of our global styles.
 */
/* line 1, ../../src/styles/molecules/_header.scss */
.mdl-layout__header-row,
.mdl-navigation {
  min-height: 48px;
  height: 48px;
}

/* line 7, ../../src/styles/molecules/_header.scss */
.mdl-layout__header {
  min-height: 48px;
}

/* line 11, ../../src/styles/molecules/_header.scss */
.mdl-layout__header {
  background-color: white;
}

/* line 15, ../../src/styles/molecules/_header.scss */
#thesett-logo {
  background: url("../images/thesett/thesettlogo-small.png") no-repeat 0 0 transparent;
  display: block;
  height: 24px;
  margin-top: 2px;
  margin-bottom: 0px;
  overflow: hidden;
  width: 130px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx) {
  /* line 15, ../../src/styles/molecules/_header.scss */
  #thesett-logo {
    background-image: url("../images/thesett/thesettlogo-small.2x.png");
    background-size: 100%;
  }
}

@media (min-width: 840px) {
  /* line 29, ../../src/styles/molecules/_header.scss */
  #thesett-logo {
    background-image: url("../images/thesett/thesettlogo-medium.png");
    height: 35px;
    margin-top: 6px;
    margin-bottom: 0px;
    width: 135px;
  }
}
@media (min-width: 840px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 840px) and (min-resolution: 192dppx) {
  /* line 29, ../../src/styles/molecules/_header.scss */
  #thesett-logo {
    background-image: url("../images/thesett/thesettlogo-medium.2x.png");
    background-size: 100%;
  }
}

@media (min-width: 960px) {
  /* line 42, ../../src/styles/molecules/_header.scss */
  #thesett-logo {
    background-image: url("../images/thesett/thesettlogo-large.png");
    height: 35px;
    margin-top: 6px;
    margin-bottom: 0px;
    width: 135px;
  }
}
@media (min-width: 960px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 960px) and (min-resolution: 192dppx) {
  /* line 42, ../../src/styles/molecules/_header.scss */
  #thesett-logo {
    background-image: url("../images/thesett/thesettlogo-large.2x.png");
    background-size: 100%;
  }
}

/* line 1, ../../src/styles/molecules/_footer.scss */
.thesett-footer {
  background-color: #fafafa;
  position: relative;
}

/* line 5, ../../src/styles/molecules/_footer.scss */
.thesett-footer .mdl-mega-footer--bottom-section {
  position: relative;
}

/* line 8, ../../src/styles/molecules/_footer.scss */
.thesett-footer .mdl-mega-footer--bottom-section a {
  margin-right: 2em;
}

/* line 11, ../../src/styles/molecules/_footer.scss */
.thesett-footer .mdl-mega-footer--middle-section::after {
  border-bottom: none;
}

/* line 14, ../../src/styles/molecules/_footer.scss */
.thesett-footer .mdl-mega-footer--right-section a .material-icons {
  position: relative;
  top: 6px;
}

/* line 18, ../../src/styles/molecules/_footer.scss */
.thesett-footer .mdl-mega-footer--top-section::after {
  border-bottom: none;
}

/* line 21, ../../src/styles/molecules/_footer.scss */
.thesett-footer a:hover {
  color: #8bc34a;
}

/* line 24, ../../src/styles/molecules/_footer.scss */
.thesett-footer .mdl-mega-footer--bottom-section {
  display: none;
}

@media (min-width: 840px) {
  /* line 28, ../../src/styles/molecules/_footer.scss */
  .thesett-footer .mdl-mega-footer--bottom-section {
    display: inline;
  }
}
/* line 1, ../../src/styles/molecules/_drawer.scss */
.thesett-drawer {
  border-right: none;
}

/* line 4, ../../src/styles/molecules/_drawer.scss */
.thesett-drawer .mdl-layout-title {
  background: #6ab344;
  height: 160px;
  position: relative;
}

/* line 9, ../../src/styles/molecules/_drawer.scss */
.thesett-drawer .mdl-navigation__link.mdl-navigation__link {
  color: #757575;
  font-size: 14px;
}

/* line 13, ../../src/styles/molecules/_drawer.scss */
.thesett-drawer .thesett-logo-image {
  bottom: 16px;
  position: absolute;
}

/* line 17, ../../src/styles/molecules/_drawer.scss */
.thesett-drawer span.mdl-navigation__link.mdl-navigation__link {
  color: #8bc34a;
}

/* line 20, ../../src/styles/molecules/_drawer.scss */
.thesett-drawer-separator {
  background-color: #dcdcdc;
  height: 1px;
  margin: 8px 0;
}

/* line 1, ../../src/styles/molecules/_nav-bar.scss */
.mdl-navigation__link {
  background-color: transparent !important;
  border-bottom: 4px solid transparent;
  display: inline-block;
}

/* line 7, ../../src/styles/molecules/_nav-bar.scss */
.mdl-navigation__link:hover {
  border-bottom: 4px solid #8bc34a;
}

/* line 11, ../../src/styles/molecules/_nav-bar.scss */
.mdl-navigation__link {
  color: #727272 !important;
  font-weight: 550;
  line-height: 48px !important;
  font-size: 13.328px !important;
}
@media (min-width: 840px) {
  /* line 11, ../../src/styles/molecules/_nav-bar.scss */
  .mdl-navigation__link {
    line-height: 48px !important;
    font-size: 15.827px !important;
  }
}

/* WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10 break
 consecutive "+" operators in some cases. Therefore, we need to use both
 here to cover all the bases. */
/* line 4, ../../src/styles/molecules/_search-box.scss */
.thesett-search-box.is-focused + .thesett-navigation-container + .thesett-mobile-title,
.thesett.thesett-search-box.is-focused ~ .thesett-mobile-title {
  opacity: 0;
}

/* line 8, ../../src/styles/molecules/_search-box.scss */
.thesett-search-box.is-focused {
  width: calc(100% - 48px);
}

/* line 11, ../../src/styles/molecules/_search-box.scss */
.thesett-search-box .mdl-textfield__expandable-holder {
  width: 100%;
}

@media (min-width: 840px) {
  /* line 15, ../../src/styles/molecules/_search-box.scss */
  .thesett-search-box {
    margin-left: 16px;
    margin-right: 16px;
    order: 2;
  }

  /* line 20, ../../src/styles/molecules/_search-box.scss */
  .thesett-search-box .mdl-textfield__input {
    color: rgba(0, 0, 0, 0.87);
  }

  /* line 23, ../../src/styles/molecules/_search-box.scss */
  .thesett-search-box.is-focused + .thesett-navigation-container {
    opacity: 0;
    width: 100px;
  }
}
/* line 1, ../../src/styles/molecules/_control-bar.scss */
.control-bar {
  width: 100%;
  min-height: 48px;
  height: 48px;
  background-color: transparent;
  overflow: visible;
}
/* line 8, ../../src/styles/molecules/_control-bar.scss */
.control-bar .control-bar__row:after,
.control-bar .control-bar__row:before {
  content: "";
  display: table;
  clear: both;
}
/* line 15, ../../src/styles/molecules/_control-bar.scss */
.control-bar .control-bar__row {
  overflow: visible;
}
/* line 19, ../../src/styles/molecules/_control-bar.scss */
.control-bar [class*='control-bar__left-'] {
  float: left;
  min-height: 48px;
  padding-left: 6px;
  padding-right: 6px;
  overflow: visible;
}
/* line 29, ../../src/styles/molecules/_control-bar.scss */
.control-bar .control-bar__left-1 {
  width: 16.66%;
}
/* line 33, ../../src/styles/molecules/_control-bar.scss */
.control-bar .control-bar__left-2 {
  width: 33.33%;
}
/* line 37, ../../src/styles/molecules/_control-bar.scss */
.control-bar .control-bar__left-3 {
  width: 50%;
}
/* line 41, ../../src/styles/molecules/_control-bar.scss */
.control-bar [class*='control-bar__right-'] {
  float: right;
  min-height: 48px;
  padding-left: 6px;
  padding-right: 6px;
  overflow: visible;
}
/* line 51, ../../src/styles/molecules/_control-bar.scss */
.control-bar .control-bar__right-1 {
  width: 16.66%;
}
/* line 55, ../../src/styles/molecules/_control-bar.scss */
.control-bar .control-bar__right-2 {
  width: 33.33%;
}
/* line 59, ../../src/styles/molecules/_control-bar.scss */
.control-bar .control-bar__right-3 {
  width: 50%;
}
/* line 63, ../../src/styles/molecules/_control-bar.scss */
.control-bar .mdl-chip {
  margin: 12px 0;
}
/* line 67, ../../src/styles/molecules/_control-bar.scss */
.control-bar p {
  margin: 12px 0;
}
